/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.headerfig{
    height: 75px;
    width:70px;
    opacity: 0.6;
}

.imagedefond{
    width: 50px;
    height: 50px;
}



.right{
    display: flex;
    justify-content: flex-end;
    margin-right:1em;
}


/*css menu button*/
#menu-accordeon {
  padding:0;
  margin:1;
  list-style:none;
  text-align: center;
  width: 107px;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   /*background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);*/
   background-color: #ABAFB0;
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   /*border:solid 1px #333A40*/
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: black;
  padding: 8px 0;
  font-family: 'Indie Flower';
  font-size:1.2em
}

#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}
/*end of the css menu button*/

/*placement du boutton menu :menubutton*/
.menubutton{
  margin-left: 50px;
}
/*fin du placement du menu :menubutton*/


/*star of header*/

header{
    /*background-image: url("../img/giff.gif");*/
  background-image: url("../img/v.jpg"); 
   background-size: cover;
    height: 700px;
    /*position: fixed;*/

}

/*Main title*/
h1{
    margin-top: 1.7em;
    text-align: center;
    color: black;
   font-size: 300%;
  font-family: 'Indie Flower';
  background-color: #DBDBDB;
}


/*end of main title*/

/*second title*/
h4{
  
  background-color: silver;
  margin-top:0em;
  color: black;
  text-align: center;
  font-size: 25px;
  font-family: 'Dancing Script'
}

h4{
    animation: Test 3.5s infinite;
}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

/*end of second title*/

/*end of header*/



/*star of page title*/
h5{
    margin-top:0em;
    /*color: #D4CAC7;*/
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Dancing Script';

}


/*end of page title*/


/*star of div container*/

/*style of page title*/
h2{
  text-decoration: underline; 
  font-family: 'Ravi Prakash';
  text-align:center;
  color: white;
}

h2{
    animation: Test 3.5s infinite;
}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}



/*end of page*/

/*subtitle*/
.minititle{
  font-size: 20px;
  color: black;
  margin: auto;
  width: 90%;
  margin-bottom: 1em;

}



/*end of subtile*/

/*Paragraph style*/
p{
  font-family: 'Rajdhani';
  text-align: center;
  margin: auto;
  width: 90%;
}



span{
  margin-left: 1em;
  font-family: 'Rajdhani';
  font-weight: bold;
  color: white
}
/*end of paragraphe style*/

.one{
    
}

/*Partie Portfolio*/
.two{
    background-color: black;
    color: white;
    height: 800px;
}

.twotab{
  display: none;
}

/*images relatives au portfolio*/
/*.tatoo, .boncoin, .palais, .calculator{
  width:90%;
  height:90%;
}*/
                /*animates*/
/*.tatoo, .boncoin, .palais, .calculator{
  animation-duration: 3s;
  animation-name: slidein;*/
  /*animation-iteration-count: infinite;*/
  /*animation-direction: alternate;*/
}
/*@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
*/
/*fin des images*/

/*Fin de la partie Portfolio*/


/*star of article three*/

.three{
    background-color: white;
}

.langagesfig{
  display: flex;
  justify-content: center;
}

.html-css{
  height: 90px;
  width: 150px;
}


/*end of article three*/

/*my pictures*/
img{
  width: 95px;
  height: 95px;
}

.marine, .terre, .gn{
  width: 81px;
  height: 81px;
  margin-bottom: 1em;
}

/*end of my pictures*/


.four{
    background-color: black;
    color: white;
}

.five{
    
}

.mail{
  color: white;
}

/*star of footer*/
footer{
    background-color: black;
}


button{
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-bottom: 5em;
}

.retour{
  display: flex;
  justify-content: center
}

.retour{
  padding-bottom: 3em;
}

figure{
  display: flex;
  justify-content: right;
}
/*end of footer*/


/*animation avec glissement d'un bloc*/

.container {
  animation-duration: 8s;
  animation-name: glissement;
  /*animation-iteration-count: infinite;*/
}

.aller {
  animation-direction: normal;
}

.retour {
  animation-direction: reverse;
}
@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*end of footer*/

/*end of my projects*/


/*end of div container*/






/*===========================Tablettes========================================================*/
@media (min-width: 768px){

.two{
  display: none;
}

.twotab{
  display: flex;
  background-color: black;
}


p{
  font-size: 20px;
}

img{
  width: 95px;
  height: 95px;
}


/*==============================desktop=========================================================*/
@media (min-width: 1280px){  



}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
